
=======
apiVersion: v1
kind: Service
metadata:
  name: nginx-homework-service
  namespace: homework
  labels:
    app: nginx
spec:
  selector:
    app: nginx
  ports:
    - port: 8000
      targetPort: 8000
      name: http
    - port: 9113
      targetPort: 9113
      name: tcp



  type: ClusterIP


